<h1><% @board.name %></h1>
<div class="ui four column padded grid container">

  <% @board.lists.each do |list| %>
  <div class="column">
    <div class="ui tertiary segment">
      <h3><%= list.name %>
      <%= link_to edit_board_list_path(@board) do %>
        <i class="pencil alternate icon"></i>
      <% end %>
      <%= link_to [@board, list], method: :delete do %>
        <i class="x icon"></i>
      <% end %>
      </h3>

      <% list.tasks.each do |task| %>
      <div class="ui raised segment">
        <h4><%= task.todo %></h4>
      </div>
      <% end %>
      <p>
        <i class="plus icon"></i>Add a card
      </p>
    </div>
  </div>
  <% end %>

  <div class="column">
    <div class="ui secondary segment">
      <%= link_to new_board_list_path(@board) do %>
        <i class="large green plus icon"></i>Add a list
      <% end %>
    </div>
  </div>
</div>
